.containerimg {
  display: flex;
  column-gap: normal;
  margin-left: 17px;
  margin-right: 370px;
  justify-content: space-between;
}
.container h1{
display: flex;
justify-content: center;
align-content: center;
}
.containerForm {
  display: flex;
  gap: 12px;
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.profile {
  height: 300px;
  width: 300px;
  border-radius: 130px;
}
.form-group input {
  width: 900px;
  display: flex;
  justify-content: left;
}
